/* 全局 */
body {
  margin: 0;
  background-color: #fff;
}

/* 公用 */
.content {
  margin: 20px;
}

.title {
  position: relative;
  font-size: 16px;
  margin-left: 15px;
  color: #dd5e89;
  margin-bottom: 10px;
}

.title:after {
  content: '';
  position: absolute;
  left: -13px;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 6px solid #dd5e89;
  border-top: 6px dashed transparent;
  border-bottom: 6px dashed transparent;
}

.dld {
  position: relative;
  height: 240px;
  border: 2px solid #cccccc;
  overflow-y: scroll;
}

.line {
  background-color: #555;
  position: absolute;
  width: 2px;
  transform-origin: 50% 0;
  z-index: 1;
}

/* 连线 */
.box {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

#a {
  left: 20px;
  top: 20px;
  background-color: #3f4566;
  z-index: 5;
}

#b {
  left: 70px;
  top: 70px;
  background-color: #fea942;
  z-index: 5;
}

/* 1对多 */

.circle {
  background-color: #3f4566;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 10;
}

.one-to-many-left .circle:nth-child(2) {
  left: 40%;
  top: 10%;
  transform: translateX(-50%);
}

.one-to-many-left .circle:nth-child(3) {
  left: 32%;
  top: 20%;
}

.one-to-many-left .circle:nth-child(4) {
  left: 28%;
  top: 50%;
  transform: translateY(-50%);
}

.one-to-many-left .circle:nth-child(5) {
  left: 32%;
  bottom: 20%;
}

.one-to-many-left .circle:nth-child(6) {
  left: 40%;
  bottom: 10%;
  transform: translateX(-50%);
}

.one-to-many-left .send {
  background-color: #fea942;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.one-to-many-right .circle:nth-child(2) {
  left: 60%;
  top: 10%;
  transform: translateX(-50%);
}

.one-to-many-right .circle:nth-child(3) {
  right: 32%;
  top: 20%;
}

.one-to-many-right .circle:nth-child(4) {
  right: 28%;
  top: 50%;
  transform: translateY(-50%);
}

.one-to-many-right .circle:nth-child(5) {
  right: 32%;
  bottom: 20%;
}

.one-to-many-right .circle:nth-child(6) {
  left: 60%;
  bottom: 10%;
  transform: translateX(-50%);
}

.one-to-many-right .send {
  background-color: #fea942;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}
